<!DOCTYPE html>
{% extends 'base/principal.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarea</title>
</head>
<body>
    <div class="barra-superior">
        <a href="{% url 'tareas' %}">&#x2B05; Volver</a>
    </div>

    <div class="cuerpo-tarjeta">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="boton"  type="submit" value="Crear tarea">
        </form>
    </div>
</body>
</html>
{% endblock content %}